@{
    ViewData["Title"] = "Current Projects";
}
@await Html.PartialAsync("_Navigation")

<h2>Current Projects</h2>

<p>Training through projects on ASP.Net Core MVC and learning middleware and its utilization. </p>