@{
    ViewData["Title"] = "Ideas";
}
@await Html.PartialAsync("_Navigation")

<h2>Future Projects</h2>

<p>Creation of a full stack web application using all the skills gained through the front end back end courses </p>